zzz/
appsettings.Development.*
appsettings.Test.*
.vs/
*.csproj.user

# compiled output
**/bin/*
**/obj/*
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json

# IDEs and editors
*/**/.idea
*.DotSettings.user
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# vs code launch (allow for end dev customization)
.vscode/launch.json

# git-kept
src/Gameboard.Api/wwwroot/temp/*
!.gitkeep

# stuff that gameboard makes as part of being itself
src/Gameboard.Api/wwwroot/export/*
src/Gameboard.Api/wwwroot/import/*
